$barBackgroundColor: #2f3136;
$barBorderColor: lighten($barBackgroundColor, 10%);

$scrollbarTrack: $barBackgroundColor;
$scrollbarThumb: $barBorderColor;

$sectionBorderColor: rgba(0, 0, 0, 0.3);

$phaseColor: #ea42ea;
$importantColor: darkorange;
$roleColor: #568eff;
