.DialogBackdrop {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transform: translateZ(0);
  opacity: 0;
  transition: opacity ease-in-out 250ms;
}

.DialogBackdropOpen {
  opacity: 1;
}

.DialogContainer {
  position: absolute;
  left: 50%;
  top: 50%;

  width: 500px;
  height: 250px;
}

.Dialog {
  position: relative;
  left: -50%;
  top: -50%;
  background: darkorange;
  width: 100%;
  height: 100%;
}
