@import "../colors";

.root {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  flex: 1;
  background-color: rgba(black, 0.1);
  display: flex;
  border-bottom: 8px solid $sectionBorderColor;
}

.playerDetailsContainer {
  flex: 1;
  border-right: 2px solid $sectionBorderColor;
  position: relative;

  > div {
    overflow-y: auto;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

.tokenContainer {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 16px 8px;
  border-right: 2px solid $sectionBorderColor;
}

.middleCardsContainer {
  flex: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;

  .cardRoot {
    margin: 16px;
  }
}

.buffer {
  flex: 2;
}
