@import "../colors";
@import "../variables";
@import "../button";

$buttonSize: 24px;

.root {
  margin: $mediumCardListMargin;
}

.count {
  &.isMaxed {
    color: #f8a307;
  }
}

.controlsCounter {
  width: $mediumCardWidth;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $barBackgroundColor;
  color: white;
  padding: 8px;
  border-radius: 4px;
  border: 2px solid $barBorderColor;
  margin-bottom:8px;
  user-select: none;

  button {
    @include button();
    width: $buttonSize;
    height: $buttonSize;
  }
}
