@import "../variables";

@mixin card($pathName, $topOffset: 3%, $offsetX: 0, $darkBG: false) {
  .#{$pathName} {
    .cardFace {
      @if ($darkBG) {
        background-image: url(../../images/card-face-backdrop-dark.png);
      }

      &:before {
        background-image: url("../../images/cards/#{$pathName}.png");
        top: $topOffset;
        left: $offsetX;
      }
    }
  }
}

.root {
  width: 128px;
  height: 176px;
  border-radius: 12px;
  position: relative;

  &.active {
    .faceCard, .cardText {
      filter: brightness(100%)
    }
  }

  &.inactive {
    .faceCard, .cardText {
      filter: brightness(70%);
    }
  }

  &.mini {
    width: $mediumCardWidth;
    height: $mediumCardHeight;

    .cardText {
      font-size: 0.7em;
    }
  }

  &.flipping {
    animation-duration: 200ms;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    transform: scaleX(1);

    &.flipIn {
      animation-name: flipIn;
    }

    &.flipOut {
      animation-name: flipOut;
    }
  }
}

.cardFace {
  position: relative;
  background: url(../../images/card-back.png) no-repeat center;
  background-size: cover;
  transition: box-shadow 200ms, filter 100ms;
  box-shadow: none;
  border: 3px solid black;
  height: 100%;
  border-radius: 12px;

  &.faceCard {
    background: url(../../images/card-face-backdrop.png) no-repeat center;
    background-size: cover;
  }

  &:before {
    position: absolute;
    display: block;
    content: '';
    left: 0;
    right: 0;
    bottom: -1px; // Fixes some weird half-pixel border issue
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
  }

  &.cannotClick {
    filter: brightness(20%);
  }

  &.canClick {
    filter: brightness(70%);

    &:hover {
      cursor: pointer;
      filter: brightness(100%);
    }
  }
}

.cardText {
  pointer-events: none;
  position: absolute;
  display: block;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  top: 8px;
  width: 100%;
  text-align: center;
  text-shadow: -1px 1px 0 #000,
  1px 1px 0 #000,
  1px -1px 0 #000,
  -1px -1px 0 #000;
}

@include card("alphaWolf", 3%, 0, true);
@include card("appSeer");
@include card("dreamWolf", 12%, 9%, true);
@include card("drunk", 12%);
@include card("hunter");
@include card("insomniac");
@include card("mason");
@include card("minion", 3%, 0, true);
@include card("mysticWolf", 6%, 13%, true);
@include card("pi", 12%, 13%);
@include card("revealer", 9%, 9%);
@include card("robber", 11%);
@include card("seer");
@include card("tanner");
@include card("troublemaker");
@include card("vIdiot");
@include card("villager");
@include card("werewolf", 3%, 0, true);
@include card("witch");

@keyframes flipIn {
  from {
    transform: scaleX(1);
  }
  to {
    transform: scaleX(0);
  }
}

@keyframes flipOut {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}
