.root {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-color: #70c4c6;
  overflow: hidden;

  animation-fill-mode: both;
  animation-duration: 10s;
  animation-timing-function: linear;

  &.toNight {
    animation-name: dayToNight;
  }

  &.toDay {
    animation-name: nightToDay;
  }
}

.container {
  z-index: 2000;
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.landscape {
  position: absolute;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: 1500;

  background: url("../../images/landscape.svg") no-repeat bottom;
  background-size: contain;
  pointer-events: none;
}

.wall {
  position: absolute;
  left: 0;
  right: 0;
  height: 100vh;
  z-index: 1501;
  background: url(../../images/wall.png) no-repeat bottom;
  background-size: auto 320px;
  pointer-events: none;
}

.sky {
  position: absolute;
  left: 0;
  right: 0;
  height: 100vh;
  pointer-events: none;
  mix-blend-mode: screen;
  background-blend-mode: multiply;
  opacity: 0;

  background: url(../../images/stars.png) repeat top center,
  url(../../images/twinkling.png) repeat top center;

  animation-name: starsTwinkle;
  animation-duration: 100s, 10s;
  animation-iteration-count: infinite, 1;
  animation-fill-mode: both;
  animation-timing-function: linear;

  &.skyToNight {
    animation-name: starsTwinkle, skyFadeToNight;
  }

  &.skyToDay {
    animation-name: starsTwinkle, skyFadeToDay;
  }
}

$orbitContainerSize: 350px;
$sunSize: 64px;
$moonSize: 80px;

.orbitContainer {
  position: absolute;
  width: $orbitContainerSize;
  height: $orbitContainerSize;
  top: -$orbitContainerSize / 2;
  right: -$orbitContainerSize / 2;

  pointer-events: none;
  z-index: 1000;
  animation-fill-mode: both;
  animation-duration: 10s;

  &.rotateToNight {
    animation-name: rotateToNight;
  }

  &.rotateToDay {
    animation-name: rotateToDay;
  }

  .sun {
    background: #fff;
    left: -$sunSize / 2;
    bottom: -$sunSize / 2;
    width: $sunSize;
    height: $sunSize;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 40px 4px #fff695;
  }

  .moon {
    background: #fff;
    right: $moonSize / 2;
    top: $moonSize / 2;
    width: $moonSize;
    height: $moonSize;
    position: absolute;
    border-radius: 50%;
    box-shadow: 0 0 20px 17px rgba(255, 255, 255, 0.5);
  }
}

@keyframes rotateToNight {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(180deg);
  }
}

@keyframes rotateToDay {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(360deg);
  }
}

$dayColor: #70c4c6;
$nightColor: #323b3b;

@keyframes dayToNight {
  0% {
    background-color: $dayColor;
  }
  40% {
    background-color: #524b64;
  }
  100% {
    background-color: $nightColor;
  }
}

@keyframes nightToDay {
  0% {
    background-color: $nightColor;
  }
  40% {
    background-color: #ffaf6b;
  }
  60% {
    background-color: #52887e;
  }
  100% {
    background-color: $dayColor;
  }
}

@keyframes starsTwinkle {
  from {
    background-position: 0 0, 0 0;
  }
  to {
    background-position: 0 0, 100% 100%;
  }
}

@keyframes skyFadeToNight {
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes skyFadeToDay {
  0% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
}
