@import "../colors";
@import "../button";

.controls {
  background: $barBackgroundColor;
  border-bottom: 3px solid $barBorderColor;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  button {
    margin: 8px;

    @include button;
    font-weight: normal;
    padding: 8px;
  }

  .phase {
    color: $phaseColor;
    font-weight: bold;
    font-size: 1.4em;
    position: absolute;
    // Center it
    left: 50%;
    transform: translateX(-50%);
  }

  .role {
    color: $roleColor;
  }

  .clock {
    margin: 8px 16px;
    color: $importantColor;
    font-weight: bold;
    font-size: 1.1em;
  }

  .countdownBar {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -3px;
    height: 3px;
    transform: scaleX(1);
    background: $importantColor;
    z-index: 9999;
    opacity: 0;

    transition: opacity 100ms linear;

    &.showCountdownBar {
      opacity: 1;
    }
  }
}

.destroyDialog {
  h2 {
    text-align: center;
    margin: 0;
    padding-bottom: 16px;
    border-bottom: 2px solid $barBorderColor;
  }

  p {
    font-size: 1.2em;
  }

  .destroyDialogControls {
    display: flex;
    justify-content: space-between;

    button {
      @include button;

      font-size: 3em;
      padding: 24px 16px;
    }
  }
}
