.root {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &:after {
    cursor: default;
    content: "";
    display: block;
    width: 128px;
    height: 12px;
    background: radial-gradient(rgba(#fff, 0.6) 0%, rgba(#fff, 0.4) 30%, rgba(#fff, 0.0) 80%);
    position: absolute;
    bottom: -20px;
    border-radius: 50%;
  }
}

$displayNameBackgroundColor: #2f3136;

.displayName {
  margin-bottom: 8px;
  color: white;
  background: $displayNameBackgroundColor;
  border: 2px solid lighten($displayNameBackgroundColor, 10%);
  padding: 8px 16px;
  border-radius: 4px;
}

.avatar {
  position: relative;
  display: block;

  > img {
    width: 64px;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.2);
  }

  &.isSpeaking {

  }
}

@mixin card($pathName, $realName, $topOffset: 6px, $offsetX: 0, $darkBG: false) {
  &.#{$pathName} {
    @if ($darkBG) {
      background-image: url(../../images/card-face-backdrop-dark.png);
    }

    &:before {
      background-image: url("../../images/cards/#{$pathName}.png");
      top: $topOffset;
      left: $offsetX;
    }

    &:after {
      content: $realName;
    }
  }
}
