@import "../colors";

.root {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  pointer-events: auto;
}

.playerVotesRoot {
  position: absolute;
  bottom: 150px;
  left: 50%;
  transform: translateX(-50%);
  visibility: hidden;

  &.showVotes {
    visibility: visible;
  }

  $cornerColor: #ffe388;

  &:after {
    content: "";
    display: block;
    position: absolute;
    left: calc(50% - 8px);
    transform: rotate(45deg);
    border: 8px solid transparent;
    border-bottom-color: darken($cornerColor, 40%);
    border-right-color: $cornerColor;
    bottom: -10px;
  }
}

.playerVote {
  background: $barBackgroundColor;
  border: 2px solid $barBorderColor;
  padding: 4px 8px;
  border-radius: 4px;
  margin: 4px;
  display: inline-block;

  .playerContainer {
    display: flex;
    align-items: center;

    .voteDisplayName {
      color: white;
      white-space: nowrap;
    }

    .voteAvatar {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      margin-right: 8px;
    }
  }
}

.displayName {
  margin-bottom: 8px;
  color: white;
  background: $barBackgroundColor;
  border: 2px solid $barBorderColor;
  padding: 8px 16px;
  border-radius: 4px;
  white-space: nowrap;
}

.avatar {
  position: relative;
  display: block;
  margin-bottom: 16px;

  > img {
    width: 64px;
    border-radius: 50%;
    border: 3px solid rgba(0, 0, 0, 0.2);
    transition: border 100ms linear;

    &.isSpeaking {
      border: 3px solid green;
    }
  }
}

.floorLight {
  margin-top: 20px;
  cursor: default;
  width: 128px;
  height: 12px;
  background: radial-gradient(rgba(#fff, 0.6) 0%, rgba(#fff, 0.4) 30%, rgba(#fff, 0.0) 80%);
  border-radius: 50%;
}

.playerRoot {
  text-align: center;
  transform: translateY(0);
  transition: transform 250ms ease-in-out;

  &.hidePlayer {
    transform: translateY(150px);
    transition-delay: 0.2s;
  }
}

.cardRoot {
  transform: translateY(0);
  transition: transform 500ms ease-in-out;

  &.hideCard {
    transform: translateY(300px);
  }
}
